@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Roboto', sans-serif;
    background: #fbfbfb;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 0 auto;
    margin-top: 8%;
}
h1{
    font-size: 50px;
    color: darkgray;
   text-align: center;
   margin-bottom: 30px;
}

.Dashboard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
    margin-top: 5rem 0;
    margin-bottom: 60px;
}

article{
   
   background: #ffffff;
   font-size: 20px;
   padding: 1.5rem;
   border-radius: 4px;
   box-shadow: 4px 8px 30px -5 px rgba(245, 243, 243, 0.13);
   border:none;
   outline: none;
   line-height: 1;

   }
   h3{
    padding-top: 20px;
    padding-bottom: 40px;
   }

   .Dashboard-info{
    background: #ffffff;
   align-items: center;
 

   }

i{
    
    color: rgb(19, 212, 122);
    
  
   
}
.Info{
    display: grid;
    grid-template-columns:55px 1fr;
   
}

.Info h5{
    font-weight: bold;
}

.Info p{
    font-weight: 300;
    font-size: 15px;
}

li{
    list-style: none;
   
}



.footer-info{
    display: grid;
    grid-template-columns:55px 1fr 55px;  /* هنا تقسمي السطر لثلاثه اقسام  */
  justify-content: center;
   
}

.important{
    /* padding-top: 40PX;  */
    /* مانحتاج بادنج ابدا */
    font-weight: 300;
    font-size: 15px;
    margin: auto 3px;   /*  عشان نخلي الكلام يجي وسط */
}

.important p{
    font-weight: 300;
    font-size: 15px;

}

.important h5{
    font-weight: bold;
}

img{
    width: 100%; /* لازم تخلي الصوره ع قياس الكولوم اللي عطيتييها اياه ٥٥بكسل  */
    border-radius: 100px;
margin-right: 5px;
   /* وبعدييها عن الكلام شوي بهالطريقه */
}
.min{
    display: grid;
    grid-template-columns: repeat(8,1fr);
}


.time{
    font-size: 12px;
    font-weight: 300;
}

